<img [src]="'http://127.0.0.1:80/lab/image/event1.jpg'" style="max-height:150px;" class="col-md-offset-3 img-thumbnail">
<hr>
<h4 class="list-group-item-heading">{{publication.title}} - <span style="color: rgb(0, 153, 255);">{{publication.date | date:'fullDate'}} {{publication.date | date:'shortTime'}}</span></h4>
<p [innerText]="publication.decription"></p>
<div style="margin-top:20px;">
<a><i class="fa fa-thumbs-o-up pull-right count icon-margin"> 10</i></a>
<a><i class="fa fa-thumbs-o-down pull-right count icon-margin"> 10</i></a>
<a><i class="fa fa-share pull-right count icon-margin"> share</i></a>
<button class="btn btn-warning btn-xs pull-left" style="margin-left:10px;">edit</button>
<button class="btn btn-danger btn-xs pull-left"  style="margin-left:10px;">delet</button>
</div>

