<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <button routerLink="new" class="btn btn-success btn-sm">Add Event</button>
    </div>
  </div>
  <hr class="col-xs-12 col-md-6">
  <div class="row">
    <div class="col-xs-12 col-md-6">
      <app-event-list [events]="events"></app-event-list>
      <nav aria-label="Page navigation" class="col-xs-12" style="text-align:center;">
        <ul class="pagination">
          <li>
            <a style="cursor:pointer;"  aria-label="Previous">
              <span aria-hidden="true">&laquo;</span>
            </a>
          </li>
          <li><a style="cursor:pointer;" [app-pagination]="{url:URL,page:1}">1</a></li>
          <li><a style="cursor: pointer;" [app-pagination]="{url:URL,page:2}">2</a></li>
          <li><a style="cursor:pointer;" [app-pagination]="{url:URL,page:3}">3</a></li>
          <li>
            <a style="cursor:pointer;" aria-label="Next">
              <span aria-hidden="true">&raquo;</span>
            </a>
          </li>
        </ul>
      </nav>
    </div>
    <div  class="col-xs-12 col-md-5 col-md-offset-1">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
