<div class="container">
  <div class="row">
      <div class="row">
        <div style="margin-top: 10px;" class="col-md-6 col-xs-12">
          <h4> WELCOME TO OUR LAB : <b style="color: rgb(0, 153, 255);"> LAB NAME </b></h4>
          <p style="text-align: justify;">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            Pellentesque fringilla lacus sit amet augue vulputate porttitor.
            Nullam iaculis ipsum tempus, dignissim purus vitae, iaculis velit.
            Cras dui lacus, mattis quis tellus quis, rutrum ullamcorper metus.
            In et ante quis urna facilisis feugiat. Ut vulputate laoreet tellus,
            a porta risus ultricies vel. Pellentesque fermentum dapibus orci,
            eget pharetra nibh. In hac habitasse platea dictumst.
            Cras dui lacus, mattis quis tellus quis, rutrum ullamcorper metus.
            In et ante quis urna facilisis feugiat. Ut vulputate laoreet tellus,
            a porta risus ultricies vel. Pellentesque fermentum dapibus orci,
            eget pharetra nibh. In hac habitasse platea dictumst.
            Cras dui lacus, mattis quis tellus quis, rutrum ullamcorper metus.
            In et ante quis urna facilisis feugiat. Ut vulputate laoreet tellus,
            a porta risus ultricies vel. Pellentesque fermentum dapibus orci,
            eget pharetra nibh. In hac habitasse platea dictumst.
          </p>
          <hr>
          <a routerLink="login"     class="col-md-2 btn btn-success btn-sm" role="button" (click)="onLogin()">Login</a>
          <a routerLink="register"  class="col-md-2 col-md-offset-1 btn btn-success btn-sm" role="button" (click)="onRegister()">Register</a>
        </div>
        <div class="col-md-5 col-xs-10 col-md-offset-1">
          <div class="row">
            <router-outlet></router-outlet>
          </div>
        </div>
      </div>
  </div>
</div>
